@charset "UTF-8";

html {
    overflow: scroll;
}

body {
    background-color : white;
    text-align: center;
    background-image: url(../img/肉球2.jpg);
    min-width: 100%;
    
}

body {
    font-family: 'ほのかフォント' ;
}

header {
    display: center;
    max-width: 100%;
    /* min-width: 100%; */
    background-color: pink;
}

#logo {
  text-align: left;
}

.under {
    text-decoration: underline;
    font-size: 30px;
    padding: 20px;
}

ul{
  padding-left: 0%;
  margin-bottom: 10%;
  text-align: center;
  padding: 10%;
}

ul a{
    text-align: center;
    display: block;
    margin-bottom: 10px;
} 

/* 変更 */
#sec1 h1{
    font-size: 20px;
  padding-top: 20%;
}

#sec1 .flex p{
    font-size: 20px;
    display: inline-flex;
    margin-right: 20%;
    padding-top: 8%;
}

#sec1 .dialect_item, p {
    font-size: 20px;
    text-align: center;
}

#sec1 .dialect_item, a{
    font-size: 20px;
    text-align: center;
    padding-left: 30px;
}

#sec2 h1{
   /* line-height: 0;
    font-size: 70px; */
    /* margin-bottom: 20px; */
    padding: 10%;
}

#sec2 .flex p{
    font-size: 20px;
    display: inline-flex;
    margin-right: 20%;
}

#sec2 .dialect_item, p a{
    font-size: 20px;
    padding: 5px;
}

#sec3 .flex h1{
    /* line-height: 0;
    font-size: 70px;
    color: yellow;
    margin-bottom: 20px; */
    padding: 10%;
}

#sec3 .flex p{
    font-size: 20px;
    display: inline-flex;
    margin-right: 20%;
}

#sec3 .dialect_item, p a{
    font-size: 20px;
    padding: 5px;
}

#sec4 .flex h1{
    /* line-height: 0;
    font-size: 70px;
    color: yellow;
    margin-bottom: 20px; */
    padding: 10%;
}

#sec4 .flex p{
    font-size: 20px;
    display: inline-flex;
    margin-right: 20%;
}

#sec4 .dialect_item, p a{
    font-size: 20px;
    padding: 5px;
}

/* ここまでできた！ */

/*popup */
.popup {
    position: fixed;
    top: 0;
    right:0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,.8);
    display: none;
    
  }
  
  .popup-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 80%;
    max-width: 400px;
    padding: 50px;
    background-color: #fff;
    z-index: 12;
  }
  .popup-inner img {
    width: 100%;
    height: 100%;
  }
  .close-btn {
    position: absolute;
    top: 0x;
    right:0px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    z-index: 101;
  }
  .close-btn i {
    font-size: 30px;
    color: #333;
  }
  /* .black-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    background-color: rgba(0,0,0,.8);
    z-index: 1;
    cursor: pointer;
  } */
  /* //////////////////// */

  table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
  }
  
  table th,table td{
    padding: 10px 0;
    text-align: center;
  }
  
  table tr:nth-child(odd){
    background-color: #eee
  }

  table tr:nth-child(even){
    background-color: white;
  }

/* ボタン */

  button {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
  }
  button:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
  }

  footer {
	height:80px;
	background-color: pink;
}

  footer .copyright {
	color: black;
	font-size: 16px;
  letter-spacing: 1px;
  padding-top: 30px;
}

/* footer上空白 */
.space {
  padding-top: 50px;
}


/* レスポンシブ対応 */

/* @media screen and (max-width:600px){
  footer {
    background-color:red;
  }
} */