<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <table border="1">
        {% for item in edit %}
        <tr>
            <td>{{item["word"]}}</td>
            <td>{{item["mean"]}}</td>
            <td><a href="/edit/{{item['word']}}">編集</a></td>
            <td><a href="/del/{{item['mean']}}">削除</a></td>
    
        </tr>
        {% endfor %}
    
    </table>
    <a href="/add">追加</a>
    
</body>
</html>