<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form>
        <div class="inputs">
            <label class="label">やつしろの言葉</label>
            <input class="input_form" type="text" name="name">
        </div>
    　　　　 <div class="inputs">
            <label class="label">意味</label>
            <input class="input_form" type="number" name="age">
        <div class="btn-area">
            <input type="reset" value="リセット"><input type="submit" value="送信">
        </div>
    </form>
    
</body>
</html>