<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/css/style_sp.css">

    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">

    <title>やつしろラーニング</title>

</head>

<body>
    <header>
        <div id="logo">
            <img src="../static/img/猫　透過2.png" alt="ヘッダーの横にロゴ">
        </div>
    </header>

     <ul>
        <a href="#sec1" id="menu-sec1"><img src="../static/img/むずかしい.jpg" alt="むずかしい"></a>
         <a href="#sec2" id="menu-sec2"><img src="../static/img/定番.jpg" alt="定番"></a>
         <a href="#sec3" id="menu-sec3"><img src="../static/img/なまえ.jpg" alt="なまえ"></a>
         <a href="#sec4" id="menu-sec4"><img src="../static/img/おもしろ.jpg" alt="おもしろ"></a>
     </ul>

    <article>
        <section id="sec1">
            <div class="flex">
                <h1>むずかしい</h1>
                <p>方言</p>
                <p>意味</p>

            </div>

            <div class="dialect">
                <div class="dialect_item">
                    <p1>{{hougen_list_1}}</p1>
                    <a>{{mean_1}}</a>
                    <button id="js-show-popup">使用例</button>
                    <div class="popup" id="js-popup">
                        <div class="popup-inner">
                          <div class="close-btn" id="js-close-btn"><i class="fas fa-times"></i></div>
                          <a href="#"><img src="../static/img/おひめさん.jpg" alt="ポップアップ画像"></a>
                        </div>
                        <div class="black-background" id="js-black-bg"></div>
                      </div>
                </div>

                <!-- {% for item in hougen_list %}
                 <div class="bbs_content">
                    <p>{{["hougen"]}}</p>
            
      
                </div>
                 {% endfor %} -->


                <div class="dialect_item">
                    <p1>{{hougen_list_1}}</p1>
                <a>{{mean_1}}</a>
                </div>

                <div class="dialect_item">
                    <p1>{{hougen_list_1}}</p1>
                <a>{{mean_1}}</a>
                </div>
            
                <div class="dialect_item">
                    <p1>{{hougen_list_1}}</p1>
                <a>{{mean_1}}</a>
                </div>
                
                <div class="dialect_item">
                    <p1>{{hougen_list_1}}</p1>
                <a>{{mean_1}}</a>
                </div>
                
            </div>
        </section>

        <section id="sec2">
            <div class="flex">
                <h1>定番</h1>
                <p>方言</p>
                <p>意味</p>
            </div>

            <div class="dialect">
                <div class="dialect_item">
                    <p1>{{hougen_list_2}}</p1>
                   <a id="openModal">{{mean_2}}</a>
                </div>
   
                <div class="dialect_item">
                   <p1>{{hougen_list_2}}</p1>
                  <a id="openModal">{{mean_2}}</a>
               </div>
   
               <div class="dialect_item">
                   <p1>{{hougen_list_2}}</p1>
                  <a id="openModal">{{mean_2}}</a>
               </div>
             
               <div class="dialect_item">
                   <p1>{{hougen_list_2}}</p1>
                  <a id="openModal">{{mean_2}}</a>
               </div>
               
               <div class="dialect_item">
                   <p1>{{hougen_list_2}}</p1>
                  <a id="openModal">{{mean_2}}</a>
               </div>
               
            </div>
           </section>

           <section id="sec3">
                <div class="flex">
                    <h1>なまえ</h1>
                    <p>方言</p>
                    <p>意味</p>
                </div>

                <div class="dialect">
                    <div class="dialect_item">
                        <p1>{{hougen_list_3}}</p1>
                    <a id="openModal">{{mean_3}}</a>
                    </div>
    
                    <div class="dialect_item">
                    <p1>{{hougen_list_3}}</p1>
                    <a id="openModal">{{mean_3}}</a>
                     </div>
    
                    <div class="dialect_item">
                        <p1>{{hougen_list_3}}</p1>
                        <a id="openModal">{{mean_3}}</a>
                    </div>
                
                    <div class="dialect_item">
                        <p1>{{hougen_list_3}}</p1>
                        <a id="openModal">{{mean_3}}</a>
                    </div>
                
                    <div class="dialect_item">
                        <p1>{{hougen_list_3}}</p1>
                        <a id="openModal">{{mean_3}}</a>
                    </div>
                
             </section>

           <section id="sec4">
                <div class="flex">
                    <h1>おもしろ</h1>
                    <p>方言</p>
                    <p>意味</p>
                </div>

                <div class="dialect">
                    <div class="dialect_item">
                        <p1>{{hougen_list_4}}</p1>
                    <a id="openModal">{{mean_4}}</a>
                    </div>
    
                    <div class="dialect_item">
                    <p1>{{hougen_list_4}}</p1>
                    <a id="openModal">{{mean_4}}</a>
                    </div>
    
                    <div class="dialect_item">
                        <p1>{{hougen_list_4}}</p1>
                        <a id="openModal">{{mean_4}}</a>
                    </div>
                    
                    <div class="dialect_item">
                        <p1>{{hougen_list_4}}</p1>
                        <a id="openModal">{{mean_4}}</a>
                    </div>
                    
                    <div class="dialect_item">
                        <p1>{{hougen_list_4}}</p1>
                        <a id="openModal">{{mean_4}}</a>
                    </div>
                
                </div>
           </section>

    </article>
    <script src="../static/js/common.js"></script>




</body>
</html>