<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/css/style_sp.css">

    <title>やつしろラーニング</title>

</head>

<body>
    <header>
        <div class="header-logo">やつしろラーニング</div>
    </header>

     <ul>
        <a href="#sec1" id="menu-sec1">嬉</a>
         <a href="#sec2" id="menu-sec2">怒</a>
         <a href="#sec3" id="menu-sec3">哀</a>
         <a href="#sec4" id="menu-sec4">楽</a>
     </ul>

    <article>
        <section id="sec1">
            <div class="flex">
                <h1>嬉</h1>
                <p>方言</p>
                <p>意味</p>
            </div>

            <div class="dialect">
                <div class="dialect_item">
                    <p1>○○○</p1>
                    <a>ここに意味が出るよ！</a>
                </div>

                <div class="dialect_item">
                    <p1>○○○</p1>
                <a>ここに意味が出るよ！</a>
                </div>

                <div class="dialect_item">
                    <p1>○○○</p1>
                <a>ここに意味が出るよ！</a>
                </div>
            
                <div class="dialect_item">
                    <p1>○○○</p1>
                <a>ここに意味が出るよ！</a>
                </div>
                
                <div class="dialect_item">
                    <p1>○○○</p1>
                <a>ここに意味が出るよ！</a>
                </div>
                
            </div>
        </section>

        <section id="sec2">
            <div class="flex">
                <h1>怒</h1>
                <p>方言</p>
                <p>意味</p>
            </div>

            <div class="dialect">
                <div class="dialect_item">
                    <p1>○○○</p1>
                   <a id="openModal">ここに意味が出るよ！</a>
                </div>
   
                <div class="dialect_item">
                   <p1>○○○</p1>
                  <a id="openModal">ここに意味が出るよ！</a>
               </div>
   
               <div class="dialect_item">
                   <p1>○○○</p1>
                  <a id="openModal">ここに意味が出るよ！</a>
               </div>
             
               <div class="dialect_item">
                   <p1>○○○</p1>
                  <a id="openModal">ここに意味が出るよ！</a>
               </div>
               
               <div class="dialect_item">
                   <p1>○○○</p1>
                  <a id="openModal">ここに意味が出るよ！</a>
               </div>
               
            </div>
           </section>

           <section id="sec3">
                <div class="flex">
                    <h1>哀</h1>
                    <p>方言</p>
                    <p>意味</p>
                </div>

                <div class="dialect">
                    <div class="dialect_item">
                        <p1>○○○</p1>
                    <a id="openModal">ここに意味が出るよ！</a>
                    </div>
    
                    <div class="dialect_item">
                    <p1>○○○</p1>
                    <a id="openModal">ここに意味が出るよ！</a>
                     </div>
    
                    <div class="dialect_item">
                        <p1>○○○</p1>
                        <a id="openModal">ここに意味が出るよ！</a>
                    </div>
                
                    <div class="dialect_item">
                        <p1>○○○</p1>
                        <a id="openModal">ここに意味が出るよ！</a>
                    </div>
                
                    <div class="dialect_item">
                        <p1>○○○</p1>
                        <a id="openModal">ここに意味が出るよ！</a>
                    </div>
                
             </section>

           <section id="sec4">
                <div class="flex">
                    <h1>楽</h1>
                    <p>方言</p>
                    <p>意味</p>
                </div>

                <div class="dialect">
                    <div class="dialect_item">
                        <p1>○○○</p1>
                    <a id="openModal">ここに意味が出るよ！</a>
                    </div>
    
                    <div class="dialect_item">
                    <p1>○○○</p1>
                    <a id="openModal">ここに意味が出るよ！</a>
                    </div>
    
                    <div class="dialect_item">
                        <p1>○○○</p1>
                        <a id="openModal">ここに意味が出るよ！</a>
                    </div>
                    
                    <div class="dialect_item">
                        <p1>○○○</p1>
                        <a id="openModal">ここに意味が出るよ！</a>
                    </div>
                    
                    <div class="dialect_item">
                        <p1>○○○</p1>
                        <a id="openModal">ここに意味が出るよ！</a>
                    </div>
                
                </div>
           </section>

    </article>




</body>
</html>