<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../static/css/destyle.css/destyle.css">
    <link rel="stylesheet" href="../static/css/style_sp.css" media="screen and (max-width:479px)">
    <link rel="stylesheet" href="../static/css/style.css" media="screen and (min-width:479px)">
    <script src="../static/js/jquery-3.5.1.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.6.3/css/all.js"></script>
    <title>やつしろラーニング</title>

</head>

<body>
    <header>
        <div id="logo">
            <img src="../static/img/猫　透過_sp.png" alt="ヘッダーの横にロゴ">
        </div>
    </header>
    <div class="difficulty">
      <span class="under">難易度</span>

    </div>
    <div class="difficulty_list">
      <ul>
         <a href="#sec1" id="menu-sec1"><img src="../static/img/難易度1.jpg" alt="難易度1"></a>
          <a href="#sec2" id="menu-sec2"><img src="../static/img/難易度2.jpg" alt="難易度2"></a>
          <a href="#sec3" id="menu-sec3"><img src="../static/img/難易度3.jpg" alt="難易度3"></a>
          <a href="#sec4" id="menu-sec4"><img src="../static/img/難易度4.jpg" alt="難易度4"></a>
      </ul>

    </div>
<!-- 入れ替えたよ！ -->

    <article>
        <section id="sec1">
            
                <h1>生きたやつしろ弁を身に付けよう！！</h1>
                <h1><img src="../static/img/難易度1.jpg" alt="難易度1"></h1>
            

            <div class="flex">
                <p>やつしろの言葉</p>
                <p>意味</p>
            </div>
            

            <!-- <a href="#" class="btn-square">使い方</a> -->
            <table>
                <tr>
                  <th>{{hougen_list_1[0]}}</th>
                  <td>{{mean_1[0]}}</td>
                  <td>
                  
                    <button class="btn-square" id="popup1">使用例</button>
                    <div class="popup" id="popup1_modal">
                        <div class="popup-inner">
                            <div class="close-btn"><i class="fas fa-times"></i></div>
                            <a href="#"><img src="../static/img/ごろ.jpg" alt="ポップアップ画像"></a>
                        </div>
                        <div class="black-background"></div>
                      </div>
                  </td>
                </tr>
                <tr>
                  <th>{{hougen_list_1[1]}}</th>
                  <td>{{mean_1[1]}}</td>
                  <!-- <th>すーすーす</th>
                  <td>（風が）スウスウしている</td> -->
                  <td>
                    <button id="popup2">使用例</button>
                    <div class="popup" id="popup2_modal">
                        <div class="popup-inner">
                            <div class="close-btn"><i class="fas fa-times"></i></div>
                            <a href="#"><img src="../static/img/すーすーす.jpg" alt="ポップアップ画像"></a>
                        </div>
                        <div class="black-background"></div>
                      </div>
                  </td>
                </tr>
                <tr>
                  <th>{{hougen_list_1[2]}}</th>
                  <td>{{mean_1[2]}}</td>
                  <!-- <th>つーっと</th>
                  <td>直接，寄り道せずに</td> -->
                  <td>
                    <button id="popup3">使用例</button>
                    <div class="popup" id="popup3_modal">
                        <div class="popup-inner">
                            <div class="close-btn"><i class="fas fa-times"></i></div>
                            <a href="#"><img src="../static/img/つーっと.jpg" alt="ポップアップ画像"></a>
                        </div>
                        <div class="black-background"></div>
                      </div>
                  </td>
                </tr>
                <tr>
                  <th>{{hougen_list_1[3]}}</th>
                  <td>{{mean_1[3]}}</td>
                  <!-- <th>ばっ！</th>
                  <td>わっ！（驚いた時の感動詞）</td> -->
                  <td>
                    <button id="popup4">使用例</button>
                    <div class="popup" id="popup4_modal">
                        <div class="popup-inner">
                            <div class="close-btn"><i class="fas fa-times"></i></div>
                            <a href="#"><img src="../static/img/ばっ　.jpg" alt="ポップアップ画像"></a>
                        </div>
                        <div class="black-background"></div>
                      </div>
                  </td>
                </tr>
                <tr>
                  <th>{{hougen_list_1[4]}}</th>
                  <td>{{mean_1[4]}}</td>
                  <!-- <th>さしより</th>
                  <td>とりあえず，さしあたり</td> -->
                  <td>
                    <button id="popup5">使用例</button>
                    <div class="popup" id="popup5_modal">
                        <div class="popup-inner">
                            <div class="close-btn"><i class="fas fa-times"></i></div>
                            <a href="#"><img src="../static/img/さしより.jpg" alt="ポップアップ画像"></a>
                        </div>
                        <div class="black-background"></div>
                      </div>
                  </td>
                </tr>
              </table>
            

        </section>

        <section id="sec2">
            <div class="flex">
                <h1><img src="../static/img/難易度2.jpg" alt="難易度2"></h1>
                <p>やつしろの言葉</p>
                <p>意味</p>
            </div>

            <table>
                <tr>
                  <th>{{hougen_list_2[0]}}</th>
                  <td>{{mean_2[0]}}</td>
                  <td>
                    <button id="popup101">使用例</button>
                    <div class="popup" id="popup101_modal">
                        <div class="popup-inner">
                            <div class="close-btn"><i class="fas fa-times"></i></div>
                            <a href="#"><img src="../static/img/あとぜき.jpg" alt="ポップアップ画像"></a>
                        </div>
                        <div class="black-background"></div>
                      </div>
                  </td>
                </tr>
                <tr>
                  <th>{{hougen_list_2[1]}}</th>
                  <td>{{mean_2[1]}}</td>
                  <!-- <th>いっちょん</th>
                  <td>一つも，少しも，全く</td> -->
                  <td>
                    <button id="popup102">使用例</button>
                    <div class="popup" id="popup102_modal">
                        <div class="popup-inner">
                            <div class="close-btn"><i class="fas fa-times"></i></div>
                            <a href="#"><img src="../static/img/いっちょん好かん.jpg" alt="ポップアップ画像"></a>
                        </div>
                        <div class="black-background"></div>
                      </div>
                  </td>
                </tr>
                <tr>
                  <th>{{hougen_list_2[2]}}</th>
                  <td>{{mean_2[2]}}</td>
                  <!-- <th>たいせーつ</th>
                  <td>大変，おおごと，お断り</td> -->
                  <td>
                    <button id="popup103">使用例</button>
                    <div class="popup" id="popup103_modal">
                        <div class="popup-inner">
                            <div class="close-btn"><i class="fas fa-times"></i></div>
                            <a href="#"><img src="../static/img/たいせーつ.jpg" alt="ポップアップ画像"></a>
                        </div>
                        <div class="black-background"></div>
                      </div>
                  </td>
                </tr>
                <tr>
                  <th>{{hougen_list_2[3]}}</th>
                  <td>{{mean_2[3]}}</td>
                  <!-- <th>ほーいっぴゃ</th>
                  <td>思う存分，たくさん</td> -->
                  <td>
                    <button id="popup104">使用例</button>
                    <div class="popup" id="popup104_modal">
                      <div class="popup-inner">
                          <div class="close-btn"><i class="fas fa-times"></i></div>
                          <a href="#"><img src="../static/img/ほーいっぴゃ.jpg" alt="ポップアップ画像"></a>
                      </div>
                      <div class="black-background"></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th>{{hougen_list_2[4]}}</th>
                  <td>{{mean_2[4]}}</td>
                  <!-- <th>リバテープ</th>
                  <td>絆創膏</td> -->
                  <td>
                    <button id="popup105">使用例</button>
                    <div class="popup" id="popup105_modal">
                        <div class="popup-inner">
                            <div class="close-btn"><i class="fas fa-times"></i></div>
                            <a href="#"><img src="../static/img/リバテープ.jpg" alt="ポップアップ画像"></a>
                        </div>
                        <div class="black-background"></div>
                      </div>
                  </td>
                </tr>
              </table>


           </section>

           <section id="sec3">
                <div class="flex">
                    <h1><img src="../static/img/難易度3.jpg" alt="難易度3"></h1>
                    <p>やつしろの言葉</p>
                    <p>意味</p>
                </div>

                <table>
                    <tr>
                      <th>{{hougen_list_3[0]}}</th>
                      <td>{{mean_3[0]}}</td>
                      <td>
                        <button id="popup201">使用例</button>
                        <div class="popup" id="popup201_modal">
                            <div class="popup-inner">
                                <div class="close-btn"><i class="fas fa-times"></i></div>
                                <a href="#"><img src="../static/img/おひめさん.jpg" alt="ポップアップ画像"></a>
                            </div>
                          <div class="black-background"></div>
                      </div>
                      </td>
                    </tr>
                    <tr>
                      <th>{{hougen_list_3[1]}}</th>
                      <td>{{mean_3[1]}}</td>
                      <!-- <th>ごっちん飯</th>
                      <td>芯がある（生煮え）ご飯</td> -->
                      <td>
                        <button id="popup202">使用例</button>
                        <div class="popup" id="popup202_modal">
                            <div class="popup-inner">
                                <div class="close-btn"><i class="fas fa-times"></i></div>
                                <a href="#"><img src="../static/img/ごっちん飯.jpg" alt="ポップアップ画像"></a>
                            </div>
                          <div class="black-background"></div>
                      </div>
                      </td>
                    </tr>
                    <tr>
                      <th>{{hougen_list_3[2]}}</th>
                      <td>{{mean_3[2]}}</td>
                      <!-- <th>がんがん</th>
                      <td>空き缶（大きいもの）</td> -->
                      <td>
                        <button id="popup203">使用例</button>
                        <div class="popup" id="popup203_modal">
                            <div class="popup-inner">
                                <div class="close-btn"><i class="fas fa-times"></i></div>
                                <a href="#"><img src="../static/img/がんがん.jpg" alt="ポップアップ画像"></a>
                            </div>
                          <div class="black-background"></div>
                      </div>
                      </td>
                    </tr>
                    <tr>
                      <th>{{hougen_list_3[3]}}</th>
                      <td>{{mean_3[3]}}</td>
                      <!-- <th>なおす</th>
                      <td>片づける／修理する／治す</td> -->
                      <td>
                        <button id="popup204">使用例</button>
                        <div class="popup" id="popup204_modal">
                            <div class="popup-inner">
                                <div class="close-btn"><i class="fas fa-times"></i></div>
                                <a href="#"><img src="../static/img/なおす.jpg" alt="ポップアップ画像"></a>
                            </div>
                          <div class="black-background"></div>
                      </div>
                      </td>
                    </tr>
                    <tr>
                      <th>{{hougen_list_3[4]}}</th>
                      <td>{{mean_3[4]}}</td>
                      <!-- <th>のみかた</th>
                      <td>飲み会，酒宴</td> -->
                      <td>
                        <button id="popup205">使用例</button>
                        <div class="popup" id="popup205_modal">
                            <div class="popup-inner">
                                <div class="close-btn"><i class="fas fa-times"></i></div>
                                <a href="#"><img src="../static/img/のみかた.jpg" alt="ポップアップ画像"></a>
                            </div>
                          <div class="black-background"></div>
                      </div>
                      </td>
                    </tr>
                  </table>

             </section>

           <section id="sec4">
                <div class="flex">
                    <h1><img src="../static/img/難易度4.jpg" alt="難易度4"></h1>
                    <p>やつしろの言葉</p>
                    <p>意味</p>
                </div>

                <table>
                    <tr>
                      <th>{{hougen_list_4[0]}}</th>
                      <td>{{mean_4[0]}}</td>
                      <td>
                        <button id="popup301">使用例</button>
                        <div class="popup" id="popup301_modal">
                            <div class="popup-inner">
                                <div class="close-btn"><i class="fas fa-times"></i></div>
                                <a href="#"><img src="../static/img/かかじる.jpg" alt="ポップアップ画像"></a>
                            </div>
                          <div class="black-background"></div>
                      </div>
                      </td>
                    </tr>
                    <tr>
                      <th>{{hougen_list_4[1]}}</th>
                      <td>{{mean_4[1]}}</td>
                      <!-- <th>からすまがり</th>
                      <td>足(ふくらはぎ）がつること</td> -->
                      <td>
                        <button id="popup302">使用例</button>
                        <div class="popup" id="popup302_modal">
                            <div class="popup-inner">
                                <div class="close-btn"><i class="fas fa-times"></i></div>
                                <a href="#"><img src="../static/img/からすまがり.jpg" alt="ポップアップ画像"></a>
                            </div>
                          <div class="black-background"></div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th>{{hougen_list_4[2]}}</th>
                      <td>{{mean_4[2]}}</td>
                      <!-- <th>どけだっか</th>
                      <td>どぎつい，けばけばしい</td> -->
                      <td>
                        <button id="popup303">使用例</button>
                        <div class="popup" id="popup303_modal">
                            <div class="popup-inner">
                                <div class="close-btn"><i class="fas fa-times"></i></div>
                                <a href="#"><img src="../static/img/どけだっか.jpg" alt="ポップアップ画像"></a>
                            </div>
                          <div class="black-background"></div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th>{{hougen_list_4[3]}}</th>
                      <td>{{mean_4[3]}}</td>
                      <!-- <th>ねたくる</th>
                      <td>塗りたくる，塗りつける</td> -->
                      <td>
                        <button id="popup304">使用例</button>
                        <div class="popup" id="popup304_modal">
                            <div class="popup-inner">
                                <div class="close-btn"><i class="fas fa-times"></i></div>
                                <a href="#"><img src="../static/img/ねたくる.jpg" alt="ポップアップ画像"></a>
                            </div>
                          <div class="black-background"></div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th>{{hougen_list_4[4]}}</th>
                      <td>{{mean_4[4]}}</td>
                      <!-- <th>まっぽし</th>
                      <td>ずばり，間違いない，図星</td> -->
                      <td>
                        <button id="popup305">使用例</button>
                        <div class="popup" id="popup305_modal">
                            <div class="popup-inner">
                                <div class="close-btn"><i class="fas fa-times"></i></div>
                                <a href="#"><img src="../static/img/まっぽし.jpg" alt="ポップアップ画像"></a>
                            </div>
                          <div class="black-background"></div>
                        </div>
                      </td>
                    </tr>
                  </table>
                
                <div class="space"></div>

           </section>

    </article>
    <script src="../static/js/script.js"></script>

  <footer>
      <p class="copyright">Copyright:やつしろラーニング</p>
      <a href="edit"><img src="../static/img/ボタン.png" alt="開発者用"></a>
  </footer> 

</body>
</html>